body {
  width: 90%;
  margin: 0 auto;
  touch-action: manipulation;
}

.canvases {
  width: 100%;
  height: 380px;
  margin-bottom: 20px;
  position: relative;
}

.canvases canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.timeline {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  position: relative;
}

.timeline .timeline__control {
  position: absolute;
  top: 0;
  height: 50px;
  border-width: 2px 0;
  border-style: solid;
  border-color: rgba(168, 168, 168, 1);
  box-sizing: border-box;
  opacity: 0.5;
}

.timeline__control .timeline__control-left,
.timeline__control .timeline__control-right {
  position: absolute;
  width: 6px;
  height: 48px;
  background-color: rgba(168, 168, 168, 1);
}

.timeline__control .timeline__control-left {
 left: 0;
}

.timeline__control .timeline__control-right {
  right: 0;
}

.timeline canvas {
  /*width: 100%;*/
  /*height: 75px;*/
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
}

button {
  background: transparent;
  border: 1px solid #cccccc;
  padding: 10px 15px 10px 40px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  margin-right: 15px;
  cursor: pointer;
  touch-action: manipulation;
}

button:last-child {
  margin-right: 0;
}

button mark {
  left: 5px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('check-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 15px;
  background-size: 15px;
}
